.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list__link {
    display: flex;

    width: 44px;
    height: 44px;
    background-color: $text-white;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    transition: background-color $timing-function-main;

    &:hover .social-list__icon,
    &:focus .social-list__icon {
        fill: $text-white;

        transition: fill $timing-function-main;
    }

    &:hover,
    &:focus {
        background-color: $text-blue;

        transition: background-color $timing-function-main;
    }
}

.social-list__icon {
    fill: $color-icons;

    transition: fill $timing-function-main;
}

.footer-socials__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: $text-white;
}

.social-list__footer-link {
    display: flex;

    width: 44px;
    height: 44px;
    background-color: $background-social;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    transition: background-color $timing-function-main;

    &:hover,
    &:focus {
        background-color: $text-blue;

        transition: background-color $timing-function-main;
    }
}


.social-list__footer-icon {
    fill: $background-main;

    transition: fill $timing-function-main;
}