// text color
$text-main: #757575;
$text-secondary: #212121;
$text-blue: #2196f3;
$text-white: #ffffff;
$text-black: #000000;
$text-placeholder: rgba(117, 117, 117, 0.5);
$text-footer1: rgba(255, 255, 255, 1);
$text-footer2: rgba(255, 255, 255, 0.6);

// icon-color
$color-icons: #afb1b8;

//background color
$background-main: #ffffff;
$background-secondary: #f5f4fa;
$background-footer: #2f303a;
$background-about: rgba(47, 48, 58, 0.8);
$background-backdrop: rgba(0, 0, 0, 0.2);
$background-button: #188ce8;
$background-social: rgba(255, 255, 255, 0.1);
$background-portfolio: rgba(33, 150, 243, 0.9);

//margin and padding
$bottoms: 60px;
$bottoms-bg: 94px;
$right: 30px;

//transition
$timing-function-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//borders
$border-set1: 1px solid rgba(0, 0, 0, 0.1);
$border-set2: 1px solid rgba(33, 33, 33, 0.2);
$border-set3: 2px solid #212121;
$border-set4: 1px solid rgba(236, 236, 236, 1);
$border-set5: 1px solid #2196f3;
$border-set6: 1px solid rgba(255, 255, 255, 0.3);
$border-set7: 1px solid rgba(238, 238, 238, 1);

//shadows
$shadow-set1: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$shadow-set2: 0px 4px 4px rgba(0, 0, 0, 0.15);
$shadow-set3: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$shadow-set4: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);