.footer {
    background-color: $background-footer;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;

    height: auto;

    @media screen and (min-width: 768px) {
        // padding-left: 80px;
        // padding-right: 80px;
    }
}

.footer__container {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
}

.footer-contacts {
    margin-bottom: 60px;

    text-align: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 276px;

    }

    @media screen and (min-width: 1200px) {
        text-align: left;

        margin-right: 70px;
        margin-bottom: 60px;
    }
}

.footer-socials {
    margin-bottom: 60px;

    text-align: center;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
        margin-right: auto;

        text-align: left;

    }
}


.address-info {
    color: $text-footer1;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    white-space: nowrap;
}

.address-info__link {
    color: $text-footer2;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color $timing-function-main;

    &:hover {
        color: $text-blue;

        transition: color $timing-function-main;
    }
}


.address-info__address-line {
    margin-bottom: 6px;
}

.address-info__contact-item {
    display: block;
    margin-bottom: 9px;

   &:last-child {
        margin-bottom: 0;
    }
}

.footer-signup {
    

        text-align: center;

        max-width: 100%;
        height: auto;
   

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        position: absolute;
        bottom: 60px;
        left: 50%;

        transform: translateX(-50%);
    }

    @media screen and (min-width: 1200px) {
        width: 570px;
        margin-left: 30px;

        text-align: left;

    }
}

.footer-signup__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: $text-white;
}

.footer-form {

    display: block;

    margin-top: 20px;
    
    @media screen and (min-width: 1200px) {
        display: flex;
    }

}

.footer-form__input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    border: $border-set6;
    filter: drop-shadow($shadow-set2);
    border-radius: 4px;
    background-color: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: $text-footer2;

    @media screen and (min-width: 768px) {
    
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
        padding-left: 16px;
    }
}

.footer-form__btn {
    padding: 10px 28px 10px 29px;
    border: none;
    width: 200px;
    height: 50px;
    box-shadow: $shadow-set2;
    border-radius: 4px;
    gap: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $text-white;
    background-color: $text-blue;

    &:hover {
        cursor: pointer;
    }
}


.footer-form__icon {
    fill: $text-white;
}