.footer {
    background-color: $background-footer;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
}

.footer__container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 480px) {
    align-items: baseline;
    }
}

.footer-contacts {
    margin-bottom: 60px;

    @media screen and (min-width: 480px) {
    margin-right: 70px;
    }
}

.footer-socials {
    margin-bottom: 60px;
    @media screen and (min-width: 480px) {
    margin-right: auto;
    }
}


.address-info {
    color: $text-footer1;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-info__link {
    color: $text-footer2;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color $timing-function-main;

    &:hover {
        color: $text-blue;

        transition: color $timing-function-main;
    }
}


.address-info__address-line {
    margin-bottom: 6px;
}

.address-info__contact-item {
    display: block;
    margin-bottom: 9px;

   &:last-child {
        margin-bottom: 0;
    }
}

.footer-signup {
    width: 570px;
    height: 86px;
}

.footer-signup__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: $text-white;
}

.footer-form {
    display: flex;

    margin-top: 20px;
}

.footer-form__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;

    border: $border-set6;
    filter: drop-shadow($shadow-set2);
    border-radius: 4px;
    background-color: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: $text-footer2;
}

.footer-form__btn {
    padding: 10px 28px 10px 29px;
    border: none;
    width: 200px;
    height: 50px;
    box-shadow: $shadow-set2;
    border-radius: 4px;
    gap: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: $text-white;
    background-color: $text-blue;

    &:hover {
        cursor: pointer;
    }
}


.footer-form__icon {
    fill: $text-white;
}