.team {
    background-color: $background-secondary;
    padding-top: $bottoms;
    padding-bottom: $bottoms;

    @media screen and (min-width: 768px) {
        padding-top: $bottoms-bg;
        padding-bottom: $bottoms-bg;
    }
}

.team-title {
    color: $text-secondary;
    font-weight: 700;
    font-size: 28x;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        font-size: 36px;
    }
}

    .team-list {
        gap: 30px;
        margin-left: auto;
        margin-right: auto;

@media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    }
@media screen and (min-width: 768px) {
    flex-wrap: nowrap;
}

}

.team-list__item {
    width: 450px;
    height: 622px;
    margin-bottom: $bottoms;
    background-color: $text-white;
    box-shadow: $shadow-set1;
    border-radius: 0px 0px 4px 4px;


    @media screen and (min-width:480px) {
            width: 354px;
            height: 536px;
            margin-bottom: 0;
    }

    @media screen and (min-width:768px) {
        width: 270px;
        height: 428px;
    }
}


.team-list__persona {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list__name {
    color: $text-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.team-list_job {
    color: $text-main;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 16px;
}