.team {
    background-color: $background-secondary;
    padding-top: $bottoms;
    padding-bottom: $bottoms;

    @media screen and (min-width: 1200px) {
        padding-top: $bottoms-bg;
        padding-bottom: $bottoms-bg;
    }
}

.team-title {
    color: $text-secondary;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

    .team-list {
        display: flex;
        flex-direction: column;

        gap: 30px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
}

.team-list__item {
    width: 100%;
    background-color: $text-white;
    box-shadow: $shadow-set1;
    border-radius: 0px 0px 4px 4px;


    @media screen and (min-width:768px) {
            margin-bottom: 0;
            width: calc((100% - 30px) / 2);
min-width: 206px;
    }

    @media screen and (min-width:1200px) {
            width: calc((100% - 90px) / 4);
min-width: 206px;
    }
}

.team-list__img {
width: 100%;
}

.team-list__persona {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list__name {
    color: $text-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.team-list_job {
    color: $text-main;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 16px;
}

